<?xml version="1.0" ?>

<robot name="motoman_sia5d" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_sia5d_support)/urdf/sia5d_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
  <xacro:motoman_sia5d prefix="h1_"/>
  <xacro:ur5_robot prefix="h2_" joint_limited="true"/>
  <link name="base">
    <visual>
      <geometry>
        <box size="2 1 0.2"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="2 1 0.2"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_h1_base_link" type="fixed">
    <parent link="base"/>
    <child link="h1_base_link"/>
    <origin xyz="-0.5 0 0.1" rpy="0 0 ${pi/2}"/>
  </joint>

  <joint name="base_to_h2_base_link" type="fixed">
    <parent link="base"/>
    <child link="h2_base_link"/>
    <origin xyz="0.5 0 0.1" rpy="0 0 ${pi/2}"/>
  </joint>
</robot>
